.header {
	background-color: #444;
	color: white;
	margin-bottom: 14px;
}
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/*
li a:hover:not(.active) {
	background-color: #111;
}
.active {
	background-color: #4CAF50;
}
*/
li a:hover {
	background-color: #4CAF50;
}

body {
	font-family: sans;
}
.title {
	text-align: center;
	padding: 10px;
}



.footer {
	background-color: #444;
	color: white;
	font-size: 80%;
	padding: 14px;
	margin-top: 14px;
	float: left;
	width: 100%
	
}
.footer a:link {
	text-decoration: none;
	color: white;
}
.footer a:hover {
	text-decoration: underline;
	color: white;
}
.footer a:visited {
	color:white;
}


div.gallery {
	padding: 0 6px;
	background-color: #4CAF50;
	float: left;
	width: 24.5%;
	border: 2px solid #444;
}
@media only screen and (max-width: 700px) {
	div.gallery {
		width: 49%;
		padding: 0 6px;
	}
}
@media only screen and (max-width: 400px) {
	div.gallery {
		width: 98%;
	}
}

div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
* {
    box-sizing: border-box;
}
